@model WebApplication2.Models.Picture

@{
    ViewBag.Title = "DeletePhotoConfirmation";
}

<h2>Are you sure you want to delete this picture?</h2>
@{
    var path = @Model.RelativePath.ToString();
    var name = @Model.Name.ToString();
    var month = @Model.Month.ToString();
    var year = @Model.Year.ToString();

    <p> <img style="width:200px; height: 400px;" alt=@path src="@Url.Content(@path)"> </p>
    <p> name: @name </p>
    <p> month: @month year: @year </p>
}

<a href="@Url.Action("PhotosView", new { path = @Model.RelativeThumbPath})" id="btnView" class="btn btn-info btn-xs" role="button">Cancel</a>
<a href="@Url.Action("DeleteAprroved", new { path = @Model.RelativeThumbPath})" id="btnDelete" class="btn btn-danger btn-xs" role="button">Delete</a>