@model WebApplication2.Models.Photos

@{
    ViewBag.Title = "PhotosView";
}

<div id="delete_page">
    <h2> Are you sure you want to delete the picture?</h2>
    <br />
    <button id="keep_picture" style="margin-right:5px; margin-left:5px; background-color:#0068ff;  border: none; width:60px; height:20px;"> cancel </button>
    <button id="delete_picture_delete" style="margin-right:5px; margin-left:5px; background-color:#ff2400;  border: none; width:60px; height:20px;"> delete </button>
    <script>
        $("#delete_page").hide();
    </script>
</div>

<div id="display_pic_page">
    <h2> Photos</h2>
    <br />
    <button id="delete_picture_view" style="margin-right:5px; margin-left:5px; background-color:#ff2400;  border: none; width:60px; height:20px;"> delete_pic </button>
    <script>
        $("#display_pic_page").hide();
    </script>
</div>

<div id="desplay_page">
    <h2 id="title">Photos</h2>
    <h3> number of pictures is: @Model.Pictures.Count.ToString() </h3>
    <table style="width:100%">
        <tr>
            @{
                
                var index = 0;
                foreach (var image in Model.Pictures)
                {
                    var thumpath = image.RelativeThumbPath;
                    var path = image.RelativePath;
                    <td>
                        <div>
                            <table id="t_@path">
                                <tr>
                                    <td id="th_@path"> <img class="img-circle" style="width:120px; height: 120px;" alt=path src="@Url.Content(@path)"> </td>
                                </tr>
                                <tr>
                                    <td> @path </td>
                                </tr>

                                <tr>
                                    <td style="margin-right:5px;"> @image.Name</td>
                                </tr>
                                <tr>
                                    <td style="margin-right:5px;"> month: @image.Month year: @image.Year </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="@Url.Action("OnePictureView", new { path = @image.RelativeThumbPath})" id="btnView" class="btn btn-info btn-xs" role="button">View</a> 
                                        <a href="@Url.Action("DeletePhotoConfirmation", new { path = @image.RelativeThumbPath})" id="btnDelete" class="btn btn-danger btn-xs" role="button">Delete</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    index++;
                }
            }
        </tr>
    </table>
</div>

<script>
    $("#view_~/md/2015/8/20150807_203501.jpg").click(function () {
        $("#view_~/md/2015/8/20150807_203501.jpg").html("clicked");
        $("#display_pic_page").show();
        $("#desplay_page").hide();
        $("#t_~/md/2015/8/20150807_203501.jpg").show();
    });

    $("#delete").click(function () {
        $("#delete_page").show();
        $("#desplay_page").hide();
        $("#t_~/md/2015/8/20150807_203501.jpg").show();
    });

    $("#delete_picture_view").click(function () {
        $("#delete_page").show();
        $("#desplay_page").hide();
        $("#display_pic_page").hide();
        $("#t_~/md/2015/8/20150807_203501.jpg").show();
              
    });

</script>